<h1> Parcel Specifications </h1>

<form action="/output">
  <div class="form-group">
    <label for="length">Enter a length</label>
    <input id="length" name="length" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">Enter a width</label>
    <input id="width" name="width" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="height">Enter a height</label>
    <input id="height" name="height" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="weight">Enter a weight</label>
    <input id="weight" name="weight" class="form-control" type="text">
  </div>
  <label for="speed">Shipping speed</label>
  <select class="form-control" name="speed" id="speed">
    <option>free</option>
    <option>standard</option>
    <option>two-day</option>
    <option>one-day</option>
  </select>
  <br>
  <button type="submit" class="btn btn-success">Check</button>
</form>
